<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/APP.KMX.styles.css" asp-append-version="true" />
    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/floating-labels/">

    <!-- Bootstrap core CSS -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="~/css/floating-labels.css" rel="stylesheet">
</head>

<body>
    <div>
        <header>
            <div class="header-container">
                <div class="logo">
                    <a href="/"><img src="~/Content/Images/logokmx.jpeg" alt="KMX Convert" /></a>
                </div>
                <nav class="navbar">
                    <ul class="nav-menu">
                        <li><a href="/">Início</a></li>
                        <li><a href="/planos">Planos</a></li>
                        <li><a href="/ferramentas">Ferramentas</a></li>
                        <li><a href="/links">Links</a></li>
                    </ul>
                </nav>
                <div class="header-buttons">
                    <a href="/account/login" class="btn login-btn">Entrar</a>
                    <a href="/account/register" class="btn register-btn">Cadastre-se</a>
                </div>
            </div>
        </header>
        @* <main role="main" class="pb-3">
            @RenderBody()
        </main> *@
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - APP.KMX - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
