@model UserModel
@{
    ViewData["Title"] = "Login";
}

@section Styles {
    <link rel="stylesheet" href="~/css/auth.css" asp-append-version="true" />
}

<div class="auth-main-card">
    <h1>Faça login na sua conta</h1>
    <p>Por favor insira suas informações nos campos abaixo para a plataforma </p>
    <div class="login-card">
        <div class="form-container">
            <div class="text-area">
                <p> Email</p>
                @Html.TextBoxFor(a => a.Email, new { @class = "text-input" })
            </div>
            <div class="password-container">
                <p>Senha</p>
                <div class="password-wrapper">
                    @Html.TextBoxFor(a => a.Password, new { @class = "text-input password", type = "password", id = "passwordField" })
                    <button type="button" id="togglePassword" class="toggle-password">
                        <img src="~/img/show-password-icon.svg" alt="Show Password" id="toggleIcon" />
                    </button>
                </div>
            </div>
            @* <div >
                <p> Senha</p>
                @Html.TextBoxFor(a => a.Password, new { @class = "text-input password", type = "password" })
            </div> *@

            <div class="form-check form-check-spaced">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckIndeterminate">
                <label class="form-check-label" for="flexCheckIndeterminate">
                    Lembrar meus dados de acesso
                </label>
            </div>


            <div>
                <button class="login-button">Entrar</button>
            </div>

        </div>
        <div class="esquecer-criar justify-content-between">
            <div class="esquecer-criar">
                <div>Esqueceu sua Senha?</div>
            </div>
            
            <div class="esquecer-criar">
                <div>Criar uma conta</div>
            </div>
        </div>

        <div class="social-buttons-container">
            <button class="login-google"><img src="/img/button-icons/google-icon.svg"/> Continue com Google</button>
        </div>
        <div class="social-buttons-container">
            <button class="login-facebook"><img src="/img/button-icons/facebook-icon.svg" /> Continue com Facebook</button>
        </div>
    </div>
</div>





<script>
    document.getElementById("togglePassword").addEventListener("click", function () {
        var passwordField = document.getElementById("passwordField");
        var toggleIcon = document.getElementById("toggleIcon");

        if (passwordField.type === "password") {
            passwordField.type = "text";
            toggleIcon.src = "/img/show-password-icon.svg"; // Change to 'hide' icon
        } else {
            passwordField.type = "password";
            toggleIcon.src = "/img/show-password-icon.svg"; // Change back to 'show' icon
        }
    });
</script>