@model UserModel
@{
    ViewData["Title"] = "Login";
}


<div class="main-card">
    <h1>Faça login na sua conta</h1>
    <p>Por favor insira suas informações nos campos abaixo para a plataforma </p>
    <div class="login-card">

        @* Parte Principal*@
        <div>
            <div class="text-area">
                <p> Email</p>
                @Html.TextBoxFor(a => a.Email, new { @class = "text-input" })
            </div>

            <div >
                <p> Senha</p>
                @Html.TextBoxFor(a => a.Password, new { @class = "text-input" })
            </div>

            <div class="form-check" style="padding-top: 10px; padding-bottom: 10px;">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckIndeterminate">
                <label class="form-check-label" for="flexCheckIndeterminate">
                    Lembrar meus dados de acesso
                </label>
            </div>


            <div>
                <button class="login-button">Entrar</button>
            </div>

        </div>
        <div class="esquecer-criar justify-content-between">
            <div class="esquecer-criar">
                <div>Esqueceu sua Senha?</div>
            </div>
            
            <div class="esquecer-criar">
                <div>Criar uma conta</div>
            </div>
        </div>

        <div>
            <button class="login-google" > <img src="/img/button-icons/google-icon.svg"/> Continue com Google</button>
        </div>
        <div>
            <button class="login-facebook"> <img src="/img/button-icons/facebook-icon.svg" /> Continue com Facebook</button>
        </div>
       
       
    </div>


</div>


