<div class="main-card">
    <div class="main-card">
        <div>
            <h1>
                Pontos de coordenadas .xls para .kmz
            </h1>
            <p>
                Converta suas coordenadas e mapas de maneira rapida e eficiente
            </p>
        </div>        

        <div class="upload-card" id="drag-drop">
            <div>
                <div>
                    <h2>Upload do arquivo</h2>
                    <p>Voce pode enviar apenas 2 arquivos por mes no plano gratuito</p>
                </div>

                <div class="drag-n-drop">
                    <img src="./img/upload-icon.svg" alt="File Upload" />
                    CRIAR O DRAG N DROP AQUI
                    <p>Sao permitidos arquivos com no maximo <strong>10MB</strong></p>
                </div>
                <p>Formatos aceitos: .xls .kml .kmz</p>
            </div>



        </div>

    </div>
</div>


<style>
    .main-card {
        display: flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
    }
    .upload-card{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 24px;
        gap: 16px;
        width: 550px;
        height: 345px;
        background: #FFFFFF;
        box-shadow: 3px 7px 30px rgba(112, 144, 176, 0.15);
        border-radius: 24px;
        flex: none;
        order: 1;
        flex-grow: 0;
    }

    .drag-n-drop {
        /* many upload */

        box-sizing: border-box;
        /* Auto layout */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 24px;
        gap: 12px;
        width: 502px;
        height: 176px;
        background: #FFFFFF;
        /* Color/Brand primary/main

    590D82
    */
        border: 1px dashed #590D82;
        border-radius: 8px;
        /* Inside auto layout */
        flex: none;
        order: 1;
        align-self: stretch;
        flex-grow: 0;
    }

</style>

<script>
    const dropArea = document.getElementById('drag-drop');

    // Prevent default behavior (prevent file from being opened)
    ['dragenter', 'dragover', 'dragleave', 'drop'].forEach(eventName => {
        dropArea.addEventListener(eventName, preventDefaults, false);
    });

    function preventDefaults(e) {
        e.preventDefault();
        e.stopPropagation();
    }

    // Highlight drop area when item is dragged over it
    ['dragenter', 'dragover'].forEach(eventName => {
        dropArea.addEventListener(eventName, () => {
            dropArea.classList.add('dragging');
        }, false);
    });

    ['dragleave', 'drop'].forEach(eventName => {
        dropArea.addEventListener(eventName, () => {
            dropArea.classList.remove('dragging');
        }, false);
    });

    // Handle dropped files
    dropArea.addEventListener('drop', handleDrop, false);

    function handleDrop(e) {
        let dt = e.dataTransfer;
        let files = dt.files;
        console.log(e);
        handleFiles(files);
    }

    function handleFiles(files) {
        [...files].forEach(uploadFile);
    }

    function uploadFile(file) {
        // This is where you can handle the file upload (using AJAX or FormData)
        console.log('File uploaded:', file.name);
    }
</script>