@model IEnumerable<ConversionButtonModel>

@{
    ViewData["Title"] = "Home Page";
}

@section Styles {
    <link rel="stylesheet" href="~/css/home.css" />
}

<div class="text-center">
    
    <div class="container-side-by-side">
        <div>
            <h1 class="main-text main-text-primary pb-4 ">
                Descubra o KMX:
            </h1>
            <h2 class="main-text  pb-4">A solução ideal para converter seus pontos de coordenadas.</h2>
            <p class="main-text">Com uma interface intuitiva, o KMX simplica a conversão de dados de planilhas .xls para .kmz, permitindo que você cire mapas interativos e detalhados com
                agilidade e precisão. Transforme suas coordenadas em mapas vibrantes de maneira rápida e eficiente.
            </p>
            <div class="file-upload-container">
                <input type="file" id="fileInput" accept=".xls,.xlsx,.kml,.kmz" style="display: none;" />
                <button class="button-selecionar" onclick="document.getElementById('fileInput').click()">
                    Selecionar Arquivo <img src="img/upload-icon.svg" />
                </button>
                <div id="uploadStatus" class="upload-status" role="status" aria-live="polite"></div>
            </div>
        </div>
        <div>
            <img src="img/main-page-img.svg" alt="KMZ Image"/>
        </div>        
    </div>  
    
    <div class="container mt-5">
        <section>
            <div>
                <h1 class="main-text-primary">
                    Selecione o arquivo que deseja converter:
                </h1>
            </div>
            <div class="row" >
                @foreach (var card in Model)
                {
                    <partial name="_ConversionButton" model="card" />
                }
            </div>
        </section>
        

    </div>
    <div>
        <a asp-controller ="Planos" asp-action="Index" class="nav-link">
            <img class="pro-plan"src="img/banner-plano-pro.svg" alt="Plano Pro" />
        </a>
    </div>
</div>

@section Scripts {
    <script src="~/js/home.js"></script>
}


