@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

@if (Model.ShowRequestId)
{
    <p>
        <img src="/img/mensagem_erro.png" alt="mensagem-erro" width="100%" height="100%" onclick="redirectToHome()" />
    </p>
}
<button onclick="redirectToHome()">Clique para retornar a pagina inicial</button>


@section Scripts {
    <script type="text/javascript">
        function redirectToHome() 
        {
            window.location.href = '@Url.Action("Index", "Home")';
        }
    </script>
}