@{
    ViewBag.Title = "KMX Convert";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <section class="kmx-intro text-center">
        <h1>Descubra o KMX:</h1>
        <p>A solução ideal para converter seus pontos de coordenadas.</p>
        <p>
            Com uma interface intuitiva, o KMX simplifica a conversão de dados de planilhas .xls para .kmz e vice-versa, permitindo que você crie mapas interativos e detalhados com agilidade e precisão. Transforme suas coordenadas em mapas vibrantes de maneira rápida e eficiente.
        </p>
        <button class="btn btn-primary btn-lg">Selecionar arquivos</button>
    </section>
</div>