@model PlanModel

@{
    ViewData["Title"] = "Planos";
}


<div class="main-card">
    <div class="main-card">
        <div>
            <h1>
                Meu Plano
            </h1>
        </div>        

        <div class="plan-main-card" style="gap:10px;">

            @* CARD *@
            <div class="card-body" style="border-radius: 10px;background-color:#FAF8FB; height:100%">
                Plano Gratuito
                <div class="plan-title-container">
                    <div><img src="~/img/plano-gratuito-icon.svg" alt="Alternate Text" /></div>
                    <div class="justify-content-between">
                        <p>
                            Para Experimentar o servico
                        </p>
                        <h3 class="plan-title">
                            @Model.NomePlano
                        </h3>
                    </div>
                </div>
                <div class="justify-content-evenly">
                    <div class="plan-description" style="gap:5px;">
                        <div><img src="~/img/green-check.svg" /></div>
                        <div>A quantidade de conversões são ilimitados.</div>
                    </div>
                    <div class="plan-description" style="gap:5px;">
                        <div><img src="~/img/green-check.svg" /></div>
                        <div>2 conversões por mês</div>
                    </div>
                    <div class="plan-description" style="gap:5px;">
                        <div><img src="~/img/green-check.svg" /></div>
                        <div>Formatos permitidos apenas tabelas .xls em mapas .kmz</div>
                    </div>
                    <div class="plan-description" style="gap:5px;">
                        <div><img src="~/img/green-check.svg" /></div>
                        <div>
                            Quantidade de usuário(s)<br />
                            1
                        </div>
                    </div>
                </div>
                
                
            </div>


            <div class="card-body" style="height:100%">
                Plano KMX Pro
                <div class ="d-flex flex-row justify-content-center">
                    <div class="plan-title-container">
                        <div><img src="~/img/plano-pro-icon.svg" alt="Alternate Text" /></div>
                        <div class="justify-content-between">
                            <p>
                                Para uso Profissional
                            </p>
                            <h3 class="plan-title">
                                @Model.NomePlano
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="justify-content-evenly">
                    <div class="plan-description" style="gap:5px;">
                        <div><img src="~/img/green-check.svg" /></div>
                        <div>A quantidade de conversões são ilimitados.</div>
                    </div>
                    <div class="plan-description" style="gap:5px;">
                        <div><img src="~/img/green-check.svg" /></div>
                        <div>2 conversões por mês</div>
                    </div>
                    <div class="plan-description" style="gap:5px;">
                        <div><img src="~/img/green-check.svg" /></div>
                        <div>Formatos permitidos apenas tabelas .xls em mapas .kmz</div>
                    </div>
                    <div class="plan-description" style="gap:5px;">
                        <div><img src="~/img/green-check.svg" /></div>
                        <div>
                            Quantidade de usuário(s)<br />
                            1
                        </div>
                    </div>
                </div>
                <div> preco e afins</div>
                <button class="login-button">Assine Agora</button>
            </div>
        </div>
    </div>
</div>

<style>

    .plan-description{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin: 4px;
    }
    .plan-title-container{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    .plan-main-card{
        /* Card / Price - My Plan */

        box-sizing: border-box;
        /* Auto layout */
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 20px;
        gap: 20px;
        width: 906px;
        height: 711px;
        /* Neutral/100 */
        background: #FFFFFF;
        /* Neutral/300 */
        border-left: 1px solid #EFF0F7;
        /* Drop shadow/Light */
        box-shadow: 3px 7px 30px rgba(112, 144, 176, 0.15);
        border-radius: 22px;
        /* Inside auto layout */
        flex: none;
        order: 2;
        flex-grow: 0;
    }
    .plan-card{
        /* Col1 */
        /* Auto layout */
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 5px;
        width: 423px;
        height: 671px;
        border-radius: 15px;
        /* Inside auto layout */
        flex: none;
        order: 1;
        flex-grow: 0;
    }
    .plan-title{
   
        /* Typography/Desktop/Title/H3 - Bold 32px */
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 120%;
        /* or 38px */
        /* Color/Brand primary/main */
        color: #590D82;
        /* Inside auto layout */
        flex: none;
        order: 0;
        flex-grow: 0;
    }

</style>