@model PlanModel

@{
    ViewData["Title"] = "Planos";
}

@section Styles {
    <link rel="stylesheet" href="~/css/planos.css" asp-append-version="true" />
}

<div class="planos-main-card">
    <div class="main-card">
        <div>
            <h1>
                Meu Plano
            </h1>
        </div>        

        <div class="plan-main-card plan-main-card-spaced">

            @* CARD *@
            <div class="planos-card-body light-background plan-card-rounded">
                Plano Gratuito
                <div class="plan-title-container">
                    <div><img src="~/img/plano-gratuito-icon.svg" alt="Alternate Text" /></div>
                    <div class="justify-content-between">
                        <p>
                            Para Experimentar o servico
                        </p>
                        <h3 class="plan-title">
                            @Model.NomePlano
                        </h3>
                    </div>
                </div>
                <div class="justify-content-evenly">
                    <div class="plan-description plan-description-spaced">
                        <div><img src="~/img/green-check.svg" /></div>
                        <div>A quantidade de conversões são ilimitados.</div>
                    </div>
                    <div class="plan-description plan-description-spaced">
                        <div><img src="~/img/green-check.svg" /></div>
                        <div>2 conversões por mês</div>
                    </div>
                    <div class="plan-description plan-description-spaced">
                        <div><img src="~/img/green-check.svg" /></div>
                        <div>Formatos permitidos apenas tabelas .xls em mapas .kmz</div>
                    </div>
                    <div class="plan-description plan-description-spaced">
                        <div><img src="~/img/green-check.svg" /></div>
                        <div>
                            Quantidade de usuário(s)<br />
                            1
                        </div>
                    </div>
                </div>
                
                
            </div>


            <div class="planos-card-body plan-card-full-height">
                Plano KMX Pro
                <div class ="d-flex flex-row justify-content-center">
                    <div class="plan-title-container">
                        <div><img src="~/img/plano-pro-icon.svg" alt="Alternate Text" /></div>
                        <div class="justify-content-between">
                            <p>
                                Para uso Profissional
                            </p>
                            <h3 class="plan-title">
                                @Model.NomePlano
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="justify-content-evenly">
                    <div class="plan-description plan-description-spaced">
                        <div><img src="~/img/green-check.svg" /></div>
                        <div>A quantidade de conversões são ilimitados.</div>
                    </div>
                    <div class="plan-description plan-description-spaced">
                        <div><img src="~/img/green-check.svg" /></div>
                        <div>2 conversões por mês</div>
                    </div>
                    <div class="plan-description plan-description-spaced">
                        <div><img src="~/img/green-check.svg" /></div>
                        <div>Formatos permitidos apenas tabelas .xls em mapas .kmz</div>
                    </div>
                    <div class="plan-description plan-description-spaced">
                        <div><img src="~/img/green-check.svg" /></div>
                        <div>
                            Quantidade de usuário(s)<br />
                            1
                        </div>
                    </div>
                </div>
                <div> preco e afins</div>
                <button class="planos-login-button">Assine Agora</button>
            </div>
        </div>
    </div>
</div>